/* From Philip */
.navbar {
   border: none;
   top: 0px;
   box-shadow: 0 15px 25px #03030380;
   background-color: #2f4880;       /* Changed */
   text-align: center;   
}

.icon {
   height: 40px;
   width: 40px;
}

.navbar a {
   text-decoration: none;
   color: azure;
   padding: 20px;
   margin-top: 10px;
}
.navbar a:hover {
   color: #233458;
}


/* Calender */
body {
   background-color: #2E4372
}

.calender-title {
   background-color: #2E4372;
   font-weight: bold;
   font-size: 26px;
   text-align: center;
   padding: 15px;
   
}

.week-item {
   display: flex;
}

.header-item {
   display: flex;
   height: 50px;
   width: 70px;
   justify-content: center;
   align-items: center;
   font-weight: bold;
   background-color: #061539;
   color: #7887AB;
}

.day-item {
   display: flex;
   height: 70px;
   width: 70px;
   justify-content: center;
   align-items: center;
   background-color: #2E4372;
   border: 1px solid #2E4372;
}


.day-item:hover {
   border: 1px solid #7887AB;
}

.event {
   background-color: #162956;
   color: #7887AB;
}

#calender-container {
   font-family: "Zilla Slab", serif;
   width: 490px;
   padding: 8px;;
   border-radius: 10px;
   box-shadow: 0 15px 25px #03030380;
}