/* From Philip */
.navbar {
   display: flex;
   padding: 0px 10px;
   border: none;
   top: 0px;
   box-shadow: 0 15px 25px #03030380;
   background-color: #2E4372;        /* Changed */
   font-family: "Zilla Slab", serif;   /* Added */
   /*text-align: center;   */
}

.icon {
   height: 40px;
   width: 40px;
}

.navbar a {
   text-decoration: none;
   color: #7887AB;                  /* Changed */
   /*padding: 20px;*/
   /*margin-top: 10px;*/
}


/* Added */
/* .sub-navbar {
   display: flex;
}*/

.nav-item {
   display: flex;
   width: 80px;
   flex-direction: column;
   align-items: center;
   margin: 2px 5px;
   border: 1px solid #2E4372;
}



.nav-item:hover {
   border: 1px solid #7887AB;
}

/*https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container*/
.push {
   margin-left: auto;
}


/* Calender */
body {
   background-color: #2E4372;
}

#main-container {
   display: flex;
   justify-content: center;
}

.calender-title {
   background-color: #2E4372;
   font-weight: bold;
   font-size: 26px;
   text-align: center;
   padding: 15px;
   
}

.week-item {
   display: flex;
}

.header-item {
   display: flex;
   height: 50px;
   width: 70px;
   justify-content: center;
   align-items: center;
   font-weight: bold;
   background-color: #061539;
   color: #7887AB;
}

.day-item {
   display: flex;
   height: 70px;
   width: 70px;
   justify-content: center;
   align-items: center;
   background-color: #2E4372;
   border: 1px solid #2E4372;
}


.day-item:hover {
   border: 1px solid #7887AB;
}

.event {
   background-color: #162956;
   color: #7887AB;
}

#calender-container {
   font-family: "Zilla Slab", serif;
   width: 490px;
   padding: 8px;
   margin-top: 50px;
   border-radius: 10px;
   box-shadow: 0 15px 25px #03030380;

}