.modal-body{
    text-align: center;
}
.modal-title{
    text-align: center;
}
.modal-header {
    background-color: #2E4372;
    color: white;
    border-radius: 5px !important; 
  }
  .modal-body {
    background-color: #2E4372;
    color: white;
    border-radius: 5px !important; 
  }
  .modal-footer {
    background-color: #2E4372;
    color: white;
    border-radius: 5px !important; 
  }
  .start{
      text-align: center;
  }
  .navbar {
    border: none;
    top: 0px;
    box-shadow: 0 15px 25px rgba(3, 3, 3, 0.5);
    background-color: #2f4880;
    text-align: center;
  }
  
  a {
    text-decoration: none;
    color: azure;
    padding: 20px;
    margin-top: 10px;
  }
  
  a:hover {
    color: #233458;
  }
  
  body {
    background-color: #3f5fa5;
    font-family: 'Zilla Slab';
  }
  
  h1, h4 {
    color: azure;
  }
