.modal-body{
    text-align: center;
}
.modal-title{
    text-align: center;
}
.modal-header {
    background-color: #2E4372;
    color: white;
    border-radius: 5px !important; 
  }
  .modal-body {
    background-color: #2E4372;
    color: white;
    border-radius: 5px !important; 
  }
  .modal-footer {
    background-color: #2E4372;
    color: white;
    border-radius: 5px !important; 
  }
  .events{
    color: white;
  }
  body {
    background-color: #2E4372;
    font-family: 'Zilla Slab';
  }
  .bg-primary{
    background-color: #2E4372;
  }
  .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: rgb(41, 61, 102);
 }
  .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #192746;
  }
  .navbar {
    display: flex;
    padding: 0px 10px;
    border: none;
    top: 10px;
    box-shadow: 0 15px 25px #03030380;
    background-color: #2f4880;
    font-family: "Zilla Slab", serif;
 }
 .icon {
    height: 40px;
    width: 40px;
 }
 .nav-item {
    display: flex;
    flex-direction: column;   
    align-items: center;
    width: 80px;
    margin: 2px 10px;
    border: 1px solid #2f4880;
    text-decoration: none;
    color: white;
 }
 .push {
    margin-left: auto;
 }
 .container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;
    flex-wrap: wrap;
 }
 @media screen and (max-width: 960px) {

 .container {
     margin-top: 30px;
  }
}