body {
   background-color: #2E4372;
   font-family: "Zilla Slab", serif;
}


/*
* === NAVBAR ===
*/

.navbar {
   display: flex;
   padding: 0px 10px;
   border: none;
   top: 0px;
   box-shadow: 0 15px 25px #03030380;
   background-color: #2E4372;
   font-family: "Zilla Slab", serif;
}

.icon {
   height: 40px;
   width: 40px;
}

.logo {
   width: 50px;
}

.nav-item {
   display: flex;
   flex-direction: column;   
   align-items: center;
   justify-content: center;
   width: 80px;
   margin: 2px 5px;
   border: 1px solid #2E4372;
   text-decoration: none;
   color: #7887AB;
}

.nav-item:hover {
   border: 1px solid #7887AB;
}

.push-right {
   margin-left: auto;
}



/*
* === CONTAINER ===
*/

#main-container {
   margin: 50px 5px 5px 5px;
}

h1 {
   text-align: center;
}